<!-- views/userForm.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Success</title>
</head>
<body>
  <h2>Following Student Successfully Added</h2>
  <table border="1" cellpadding="10" cellspacing="0">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
      </tr>
      <tr>
        <td><%= student.fullname %></td>
        <td><%= student.email %></td>
        <td><%= student.mobile %></td>
      </tr>
  </table>
</body>
</html>
