<!DOCTYPE html>
<html>
<head>
  <title>Student Details</title>
</head>
<body>
  <h1>Student Details  </h1>
  <table border="1" cellpadding="10" cellspacing="0">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
      </tr>
      <tr>
        <td><%= student.fullname %></td>
        <td><%= student.email %></td>
        <td><%= student.mobile %></td>
      </tr>
  </table>
</body>
</html>
